<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <% include ../config/header.ejs %>
</head>
<body>
<div id="page-container" class="sidebar-l side-scroll header-navbar-fixed">
    <!-- Header -->
    <header id="header-navbar">
        <div class="content-mini content-mini-full content-boxed">
            <ul class="nav-header pull-right">
                <li>
                    <a class="btn btn-default" href="/logout">
                        <i class="fa fa-sign-out"></i>
                        <span>로그아웃</span>
                    </a>
                </li>
            </ul>
            <ul class="nav-header pull-left">
                <li class="a-logo col-xs-2 col-sm-3">
                    <a href="/admin">
                        <img src="img/logo_admin.png">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">
        <!-- Sub Header -->
        <div class="bg-primary-lighter visible-xs">
            <div class="content-mini content-boxed">
                <ul class="nav nav-pills nav-sub-header push">
                    <li>
                        <a href="/admin">
                            <i class="fa fa-briefcase push-5-r"></i>경매 관리
                        </a>
                    </li>
                    <li class="active">
                        <a href="/admin/users">
                            <i class="fa fa-users push-5-r"></i>회원 관리
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-primary-lighter collapse navbar-collapse remove-padding" id="sub-header-nav">
            <div class="content-mini content-boxed">
                <ul class="nav nav-pills nav-sub-header push">
                    <li>
                        <a href="/admin">
                            <i class="fa fa-briefcase push-5-r"></i>경매 관리
                        </a>
                    </li>
                    <li class="active">
                        <a href="/admin/users">
                            <i class="fa fa-users push-5-r"></i>회원 관리
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END Sub Header -->

        <!-- Page Content -->
        <div class="content content-boxed">
            <!-- Section -->
            <div class="bg-image img-rounded overflow-hidden push" style="background-image: url('img/photo31@2x.jpg');">
                <div class="bg-black-op">
                    <div class="content">
                        <div class="block block-transparent block-themed text-center">
                            <div class="block-content">
                                <h1 class="h1 font-w700 text-white animated fadeInDown push-5">회원 관리</h1>
                                <h2 class="h4 font-w400 text-white-op animated fadeInUp">티켓온의 회원들을 조회, 추방할 수 있습니다.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Section -->

            <!-- Stats -->
            <div class="row text-uppercase">
                <div class="col-xs-6 col-sm-4">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="font-s12 font-w700">오늘의 가입자수</div>
                            <a class="h2 font-w300 text-primary" href="javascript:void(0)"><%= dCount %></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="font-s12 font-w700">이달의 가입자 수</div>
                            <a class="h2 font-w300 text-primary" href="javascript:void(0)"><%= mCount %></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="font-s12 font-w700">총 회원수</div>
                            <a class="h2 font-w300 text-primary" href="javascript:void(0)"><%= user.length %></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Stats -->

            <!-- Customers -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">회원 목록</h3>
                </div>
                <div class="block-content">
                    <div class="table-responsive">
                        <table class="table table-hover table-vcenter">
                            <thead>
                                <tr>
                                    <th class="text-center hidden-xs hidden-sm">사진</th>
                                    <th class="text-center">이름</th>
                                    <th class="text-center">핸드폰</th>
                                    <th class="text-center hidden-xs">이메일</th>
                                    <th class="text-center hidden-xs hidden-sm">가입일</th>
                                    <th class="text-center hidden-xs">은행/예금주</th>
                                    <th class="text-center hidden-xs">계좌번호</th>
                                    <th class="text-center">추방하기</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < user.length; i++) { %>
                                  <% var aTime = user[i].u_reg;
                                     var date = aTime.getFullYear() + "/" + (aTime.getMonth() + 1) + "/" + aTime.getDate();%>
                                <tr id="<%= user[i].uid %>">
                                    <td class="text-center hidden-xs hidden-sm">
                                        <img class="img-avatar img-avatar48" src="uploads/<%= user[i].u_img %>" alt="">
                                    </td>
                                    <td class="font-w600 text-center"><%= user[i].u_name %></td>
                                    <td class="text-center"><%= user[i].u_tel %></td>
                                    <td class="text-center hidden-xs"><%= user[i].u_id %></td>
                                    <td class="text-center hidden-xs hidden-sm"><%= date %></td>
                                    <td class="text-center hidden-xs"><%= user[i].u_bank %>/<%= user[i].u_holder %></td>
                                    <td class="text-center hidden-xs"><%= user[i].u_account %></td>
                                    <td class="text-center">
                                        <button class="deleteUser btn btn-xs btn-default" type="button">
                                            <i class="fa fa-times push-5-r text-danger"></i>추방하기
                                        </button>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END Customers -->
        </div>
        <!-- END Page Content -->

    </main>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->
<% include ../config/footer.ejs %>
<script><% include ../../public/js/admin-users.js %></script>
</body>
</html>
