<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <% include ../config/header.ejs %>
    <link href="css/form.css" rel="stylesheet">
</head>
<body>
<div id="page-container" class="header-navbar-fixed">
    <% include ../config/nav.ejs %>
    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Content -->
        <div class="content content-boxed">
            <!-- User Header -->
            <div class="block">
                <!-- Basic Info -->
                <div class="bg-image" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
                    <div class="block-content bg-primary-op text-center overflow-hidden">
                        <div class="push-30-t push animated fadeInDown">
                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="uploads/<%= user.u_img %>" alt="">
                        </div>
                        <div class="push-30 animated fadeInUp">
                            <h2 class="h4 font-w600 text-white push-5"><%= user.u_name %></h2>
                            <h3 class="h5 text-white-op"><%= user.u_id %></h3>
                        </div>
                    </div>
                </div>
                <!-- END Basic Info -->
                <!-- Stats -->
                <div class="block-content text-center">
                    <div class="row items-push text-uppercase">
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">입찰 횟수</div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)"><%= bid.length %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">낙찰 목록</div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)"><%= sucbid.length %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">경매 목록</div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)"><%= auction.length %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">결제 목록</div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">0</a>
                        </div>
                    </div>
                </div>
                <!-- END Stats -->
            </div>
            <!-- END User Header -->

            <!-- Main Content -->
            <form name="mypage_fm" action="/mypage/changeInfo?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="block">
                    <ul class="nav nav-tabs nav-justified push-20" data-toggle="tabs">
                        <li class="active">
                            <a href="#tab-profile-personal"><i class="fa fa-fw fa-pencil"></i> 프로필</a>
                        </li>
                        <li>
                            <a href="#tab-profile-password"><i class="fa fa-fw fa-asterisk"></i> 비밀번호</a>
                        </li>
                        <li>
                            <a href="#tab-profile-account"><i class="fa fa-fw fa-lock"></i> 계좌</a>
                        </li>
                    </ul>
                    <div class="block-content tab-content">
                        <!-- Personal Tab -->
                        <div class="tab-pane fade in active" id="tab-profile-personal">
                            <div class="row items-push">
                                <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label>이름</label>
                                            <div class="form-control-static font-w700"><%= user.u_name %></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label>이메일 주소</label>
                                            <div class="form-control-static font-w700"><%= user.u_id %></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="tel">전화번호</label>
                                            <input class="form-control input-lg" type="text" id="profile-tel" name="tel" placeholder="연락처를 입력하세요.." value="<%= user.u_tel %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="profile-image">프로필 사진</label><br>
                                            <% if(user.u_img) { %>
                                              <img src="uploads/<%= user.u_img %>" id="preview-image">
                                              <input type="hidden" name="image" value="<%= user.u_img %>">
                                              <input type="file" id="profile-image" name="image">
                                            <% } else { %>
                                              <img src="img/no_image.jpg" id="preview-image">
                                              <input type="file" id="profile-image" name="image">
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Personal Tab -->
                        <!-- Password Tab -->
                        <div class="tab-pane fade" id="tab-profile-password">
                            <div class="row items-push">
                                <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="pwd">현재 비밀번호</label>
                                            <input class="form-control input-lg" type="password" id="profile-password" name="pwd" placeholder="현재 비밀번호">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="newPwd">새 비밀번호</label>
                                            <input class="form-control input-lg" type="password" id="profile-password-new" name="newPwd" placeholder="새 비밀번호 8~16자리">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="newPwdConfirm">새 비밀번호 확인</label>
                                            <input class="form-control input-lg" type="password" id="profile-password-new-confirm" name="newPwdConfirm" placeholder="새 비밀번호 8~16자리">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Password Tab -->
                        <!-- account Tab -->
                        <div class="tab-pane fade" id="tab-profile-account">
                            <div class="row items-push">
                                <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="bank">은행명</label>
                                            <input class="form-control input-lg" type="text" maxlength="20" id="account-bank" name="bank" placeholder="ex) xx은행" value="<%= user.u_bank %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="number">계좌번호</label>
                                            <input class="form-control input-lg" type="text" id="account-number" name="number" maxlength="25"
                                            onKeyPress="if ((event.keyCode<45)||(event.keyCode>57)||(event.keyCode==47)) event.returnValue=false;" placeholder="ex) xxx-xxxx-xxxxx" value="<%= user.u_account %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="holder">예금주</label>
                                            <input class="form-control input-lg" type="text" maxlength="10" id="account-holder" name="holder" placeholder="ex) 홍길동"  value="<%= user.u_holder %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Privacy Tab -->
                    </div>
                    <div class="block-content block-content-full bg-gray-lighter text-center">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check push-5-r"></i> 저장</button>
                        <button class="btn btn-sm btn-warning" type="reset"><i class="fa fa-refresh push-5-r"></i> 초기화</button>
                    </div>
                </div>
            </form>
            <!-- END Main Content -->
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->

<% include ../config/footer.ejs %>
<script><% include ../../public/js/mypage.js %></script>
</body>
</html>
