<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <% include ../config/header0.ejs %>
</head>
<body>
<div id="page-container" class="header-navbar-fixed">
    <% include ../config/nav0.ejs %>
    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Content -->
        <div class="content content-boxed">
            <!-- User Header -->
            <div class="block">
                <!-- Basic Info -->
                <div class="bg-image" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
                    <div class="block-content bg-primary-op text-center overflow-hidden">
                        <div class="push-30-t push animated fadeInDown">
                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar10.jpg" alt="">
                        </div>
                        <div class="push-30 animated fadeInUp">
                            <h2 class="h4 font-w600 text-white push-5"><%= user.u_name %></h2>
                            <h3 class="h5 text-white-op"><%= user.u_id %></h3>
                        </div>
                    </div>
                </div>
                <!-- END Basic Info -->
                <!-- Stats -->
                <div class="block-content text-center">
                    <div class="row items-push text-uppercase">
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">입찰 횟수</div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)"><%= bid.length %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">낙찰 횟수</div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)"><%= sucbid.length %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">경매 횟수</div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)"><%= auction.length %></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">판매 총액</div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">0</a>
                        </div>
                    </div>
                </div>
                <!-- END Stats -->
            </div>
            <!-- END User Header -->

            <!-- Main Content -->
            <form action="base_pages_profile_edit.html" method="post" onsubmit="return false;">
                <div class="block">
                    <ul class="nav nav-tabs nav-justified push-20" data-toggle="tabs">
                        <li class="active">
                            <a href="#tab-profile-personal"><i class="fa fa-fw fa-pencil"></i> 프로필</a>
                        </li>
                        <li>
                            <a href="#tab-profile-password"><i class="fa fa-fw fa-asterisk"></i> 비밀번호</a>
                        </li>
                        <li>
                            <a href="#tab-profile-account"><i class="fa fa-fw fa-lock"></i> 계좌</a>
                        </li>
                    </ul>
                    <div class="block-content tab-content">
                        <!-- Personal Tab -->
                        <div class="tab-pane fade in active" id="tab-profile-personal">
                            <div class="row items-push">
                                <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label>이름</label>
                                            <div class="form-control-static font-w700"><%= user.u_name %></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label>이메일 주소</label>
                                            <div class="form-control-static font-w700"><%= user.u_id %></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="profile-tel">전화번호</label>
                                            <input class="form-control input-lg" type="text" id="profile-tel" name="profile-tel" placeholder="연락처를 입력하세요.." value="<%= user.u_tel %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="profile-image">프로필 사진</label>
                                            <input class="form-control input-lg" type="file" id="profile-image" name="profile-image" placeholder="이미지를 입력하세요..">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Personal Tab -->

                        <!-- Password Tab -->
                        <div class="tab-pane fade" id="tab-profile-password">
                            <div class="row items-push">
                                <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="profile-password">현재 비밀번호</label>
                                            <input class="form-control input-lg" type="password" id="profile-password" name="profile-password">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="profile-password-new">새로운 비밀번호</label>
                                            <input class="form-control input-lg" type="password" id="profile-password-new" name="profile-password-new">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="profile-password-new-confirm">새로운 비밀번호 확인</label>
                                            <input class="form-control input-lg" type="password" id="profile-password-new-confirm" name="profile-password-new-confirm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Password Tab -->

                        <!-- Privacy Tab -->
                        <div class="tab-pane fade" id="tab-profile-account">
                            <div class="row items-push">
                                <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="account-bank">은행명</label>
                                            <input class="form-control input-lg" type="text" maxlength="20" id="account-bank" name="account-bank">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="account-number">계좌번호</label>
                                            <input class="form-control input-lg" type="text" id="account-number" name="account-number" maxlength="25"
                                            onKeyPress="if ((event.keyCode<45)||(event.keyCode>57)||(event.keyCode==47)) event.returnValue=false;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="account-holder">예금주</label>
                                            <input class="form-control input-lg" type="text" maxlength="10" id="account-holder" name="account-holder">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Privacy Tab -->
                    </div>
                    <div class="block-content block-content-full bg-gray-lighter text-center">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check push-5-r"></i> 저장</button>
                        <button class="btn btn-sm btn-warning" type="reset"><i class="fa fa-refresh push-5-r"></i> 초기화</button>
                    </div>
                </div>
            </form>
            <!-- END Main Content -->
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
        <div class="pull-right">
            Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
        </div>
        <div class="pull-left">
            <a class="font-w600" href="http://goo.gl/6LF10W" target="_blank">OneUI 3.2</a> &copy; <span class="js-year-copy"></span>
        </div>
    </footer>
    <!-- END Footer -->
</div>
<!-- END Page Container -->

<!-- Apps Modal -->
<!-- Opens from the button in the header -->
<div class="modal fade" id="apps-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-sm modal-dialog modal-dialog-top">
        <div class="modal-content">
            <!-- Apps Block -->
            <div class="block block-themed block-transparent">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Apps</h3>
                </div>
                <div class="block-content">
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <a class="block block-rounded" href="base_pages_dashboard.html">
                                <div class="block-content text-white bg-default">
                                    <i class="si si-speedometer fa-2x"></i>
                                    <div class="font-w600 push-15-t push-15">Backend</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a class="block block-rounded" href="frontend_home.html">
                                <div class="block-content text-white bg-modern">
                                    <i class="si si-rocket fa-2x"></i>
                                    <div class="font-w600 push-15-t push-15">Frontend</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Apps Block -->
        </div>
    </div>
</div>
<!-- END Apps Modal -->
<% include ../config/footer0.ejs %>
<% include ../../public/js/mypage.js %>
</body>
</html>
