<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <% include ../config/header0.ejs %>
  <style>
      .img-responsive {
          height:50vh;
      }
  </style>
</head>
<body>
    <div id="page-container" class="header-navbar-fixed header-navbar-transparent">
        <!-- Main Container -->
        <main id="main-container">
            <% include ../config/nav0.ejs %>
            <!-- Hero Content -->
            <div class="bg-image" style="background-image: url('img/various/ecom_product6.png');">
                <div class="bg-primary-dark-op">
                    <section class="content content-full content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="push-30-t push-30 text-center">
                            <h1 class="timer h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">00:00:00</h1>
                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">마감까지 남은 시간 입니다</h2>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
            </div>
            <!-- END Hero Content -->
            <!-- Side Content and Product -->
            <div class="bg-gray-lighter">
                <section class="content content-boxed">
                    <div class="row">
                        <div class="col-lg-11">
                            <!-- Product -->
                            <div class="block">
                                <div class="block-content">
                                    <div class="row items-push">
                                        <div class="col-sm-6">
                                            <!-- Images -->
                                            <div class="row js-gallery">
                                                <div class="col-xs-12 push-10">
                                                    <img class="img-responsive" src="uploads/<%= auction.a_img %>" alt="">
                                                </div>
                                            </div>
                                            <!-- END Images -->
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- Vital Info -->
                                            <div class="clearfix">
                                                <div class="pull-right">
                                                    <span class="h2 font-w700 text-success"><%= (bid[0]) ? bid[0].b_price : auction.a_min_price %>원</span>
                                                </div>
                                                <span class="h5">
                                                    <span class="font-w600 text-success"><%= auction.a_category %></span><br><h2><%= auction.a_title %></h2>
                                                </span>
                                            </div>
                                            <hr>
                                            <div align="right">
                                              <% if(session.uid != auction.uid && !session.admin && auction.a_status == '0') { %>
                                                <form name="bid">
                                                     <input type="number" name="price" step="10" min="<%= (bid[0]) ? bid[0].b_price + 10 : auction.a_min_price %>"
                                                     value="<%= (bid[0]) ? bid[0].b_price + 10 : auction.a_min_price %>">
                                                     <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> 입찰</button>
                                                </form>
                                              <% } %>
                                            </div>
                                            <hr>
                                            <div class="">
                                                <p><%= auction.a_content %></p>
                                            </div>
                                            <!-- END Vital Info -->
                                        </div>
                                        <div class="col-xs-12">
                                            <!-- Author -->
                                            <div class="block block-rounded remove-margin-b">
                                                <div class="block-content block-content-full bg-gray-lighter clearfix">
                                                    <div class="pull-right">
                                                        <img class="img-avatar" src="img/avatars/avatar2.jpg" alt="">
                                                    </div>
                                                    <div class="pull-left push-5-t">
                                                        <div class="push-10">
                                                            판매자 <a class="font-w600" href="javascript:void(0)"><%= auction.u_name %></a>
                                                        </div>
                                                        <p>등록시간 <small><%
                                                           var aTime = auction.a_start;
                                                           var date = aTime.getFullYear() + "년 "
                                                            + (aTime.getMonth() + 1) + "월 "
                                                            + aTime.getDate() + "일 "
                                                            + aTime.getHours() + "시 "
                                                            + aTime.getMinutes() + "분 "
                                                            + aTime.getSeconds() +"초";
                                                            %><%= date %></small></p>
                                                        <div>
                                                            <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-plus push-5-r"></i> 관심등록</a>
                                                            <% if(session.uid == auction.uid) { %>
                                                            <a class="btn btn-sm btn-default" href="/auction/put/<%= auction.aid %>"><i class="fa fa-pencil push-5-r"></i> 수정</a>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END Author -->
                                        </div>
                                        <div class="col-xs-12">
                                            <!-- Extra Info -->
                                            <div class="block">
                                                <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs">
                                                    <li class="active">
                                                        <a href="#ecom-product-info">입찰 내역</a>
                                                    </li>
                                                </ul>
                                                <div class="block-content tab-content">
                                                    <!-- Info -->
                                                    <div class="tab-pane pull-r-l active" id="ecom-product-info">
                                                        <table class="table table-striped table-borderless remove-margin-b">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="1">입찰자</th>
                                                                    <th colspan="1">입찰가</th>
                                                                    <th colspan="1">시간</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% for(var i = 0; i < bid.length; i++) { %>
                                                                <tr>
                                                                    <td><%= bid[i].u_name %></td>
                                                                    <td><i class="fa fa-check text-success"> <%= bid[i].b_price %>원 입찰</i></td>
                                                                    <td>
                                                                      <%
                                                                       var bTime = bid[i].b_time;
                                                                       var date = bTime.getFullYear() + "년 "
                                                                        + (bTime.getMonth() + 1) + "월 "
                                                                        + bTime.getDate() + "일 "
                                                                        + bTime.getHours() + "시 "
                                                                        + bTime.getMinutes() + "분 "
                                                                        + bTime.getSeconds() +"초";
                                                                        %><%= date
                                                                      %>
                                                                      </td>
                                                                </tr>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- END Info -->
                                                </div>
                                            </div>
                                            <!-- END Extra Info -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Product -->
                        </div>
                    </div>
                </section>
            </div>
            <!-- END Side Content and Product -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <% include ../config/footer0.ejs %>
    <!-- Page JS Plugins -->
    <script src="vendor/magnific-popup/magnific-popup.min.js"></script>
    <!-- Page JS Code -->
    <script><% include ../../public/js/detail.js %></script>
</body>
</html>
