<!DOCTYPE html>
<head>
  <% include ../config/header0.ejs %>
</head>
<body>
    <div id="page-container" class="header-navbar-fixed header-navbar-transparent">
        <!-- Main Container -->
        <main id="main-container">

            <% include ../config/nav0.ejs %>

            <!-- Hero Content -->
            <div class="bg-image" style="background-image: url('img/various/ecom_product6.png');">
                <div class="bg-primary-dark-op">
                    <section class="content content-full content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="push-30-t push-30 text-center">
                            <h1 class="timer h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">00:00:00</h1>
                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">마감까지 남은 시간 입니다</h2>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
            </div>
            <!-- END Hero Content -->

            <!-- Side Content and Product -->
            <div class="bg-gray-lighter">
                <section class="content content-boxed">
                    <div class="row">
                        <div class="col-lg-11">
                            <!-- Product -->
                            <div class="block">
                                <div class="block-content">
                                    <div class="row items-push">
                                        <div class="col-sm-6">
                                            <!-- Images -->
                                            <div class="row js-gallery">
                                                <div class="col-xs-12 push-10">
                                                    <img class="img-responsive" src="uploads/<%= auction.a_img %>" alt="">
                                                </div>
                                            </div>
                                            <!-- END Images -->
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- Vital Info -->
                                            <div class="clearfix">
                                                <div class="pull-right">
                                                    <span class="h2 font-w700 text-success"><%= (bid[0]) ? bid[0].b_price : auction.a_min_price %>원</span>
                                                </div>
                                                <span class="h5">
                                                    <span class="font-w600 text-success"><%= auction.a_category %></span><br><h2><%= auction.a_title %></h2>
                                                </span>
                                            </div>
                                            <hr>
                                            <div align="right">
                                              <% if(session.uid != auction.uid) { %>
                                                <form action="/auction/bid" method="post" name="bid">
                                                     <input type="number" name="price" step="10" min="<%= ((bid[0]) ? bid[0].b_price : auction.a_min_price)+10 %>"
                                                     value="<%= ((bid[0]) ? bid[0].b_price : auction.a_min_price)+10 %>">
                                                     <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> 입찰</button>
                                                </form>
                                              <% } %>
                                            </div>
                                            <hr>
                                            <div class="">
                                                <p><%= auction.a_content %></p>
                                            </div>
                                            <!-- END Vital Info -->
                                        </div>
                                        <div class="col-xs-12">
                                            <!-- Author -->
                                            <div class="block block-rounded remove-margin-b">
                                                <div class="block-content block-content-full bg-gray-lighter clearfix">
                                                    <div class="pull-right">
                                                        <img class="img-avatar" src="img/avatars/avatar2.jpg" alt="">
                                                    </div>
                                                    <div class="pull-left push-5-t">
                                                        <div class="push-10">
                                                            판매자 <a class="font-w600" href="javascript:void(0)"><%= auction.u_name %></a>
                                                        </div>
                                                        <p>등록시간 <small><%= String(auction.a_start).substr(0, 24) %></small></p>
                                                        <div>
                                                            <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-plus push-5-r"></i> 관심등록</a>
                                                            <% if(session.uid == auction.uid) { %>
                                                            <a class="btn btn-sm btn-default" href="/auction/put/<%= auction.aid %>"><i class="fa fa-pencil push-5-r"></i> 수정</a>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END Author -->
                                        </div>
                                        <div class="col-xs-12">
                                            <!-- Extra Info -->
                                            <div class="block">
                                                <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs">
                                                    <li class="active">
                                                        <a href="#ecom-product-info">입찰 내역</a>
                                                    </li>
                                                </ul>
                                                <div class="block-content tab-content">
                                                    <!-- Info -->
                                                    <div class="tab-pane pull-r-l active" id="ecom-product-info">
                                                        <table class="table table-striped table-borderless remove-margin-b">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="1">입찰자</th>
                                                                    <th colspan="1">입찰가</th>
                                                                    <th colspan="1">시간</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% for(var i = 0; i < bid.length; i++) { %>
                                                                <tr>
                                                                    <td style="width: 20%;"><%= bid[i].u_name %></td>
                                                                    <td><i class="fa fa-check text-success"><%= bid[i].b_price %>원 입찰</i></td>
                                                                    <td><small><%= String(bid[i].b_time).substr(0, 24) %></small></td>
                                                                </tr>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- END Info -->
                                                </div>
                                            </div>
                                            <!-- END Extra Info -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Product -->
                        </div>
                    </div>
                </section>
            </div>
            <!-- END Side Content and Product -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <% include ../config/footer0.ejs %>
    <!-- Page JS Plugins -->
    <script src="vendor/magnific-popup/magnific-popup.min.js"></script>

    <!-- Page JS Code -->
    <script>
        jQuery(function () {
            // Init page helpers (Appear + Magnific Popup plugins)
            App.initHelpers(['appear', 'magnific-popup']);

            var time = <%= time %>;
            var hour = parseInt(time / (60*60*1000));
            var min = parseInt((time / (60*1000)) % 60);
            var sec = parseInt((time / 1000) % 60);
            min = (min < 10) ? '0' + min : min;
            hour = (hour < 10) ? '0' + hour : hour;
            var timer = setInterval(function() {
                sec = (Number(sec) < 11) ? '0' + String(Number(sec) - 1) : String(Number(sec) - 1);
                if(sec == '0-1') {
                    sec = '59';
                    min = (Number(min) < 11) ? '0' + String(Number(min) - 1) : String(Number(min) - 1);
                }
                if(min == '0-1') {
                    min = '59';
                    hour = (Number(hour) < 11) ? '0' + String(Number(hour) - 1) : String(Number(hour) - 1);
                }
                if(hour == '0-1') {
                    hour = '00';
                    min = '00';
                    sec = '00';
                    $(".timer").siblings().text('경매가 마감되었습니다!');
                    clearInterval(timer);
                }
                if(hour == '00' && Number(min) < 5) {
                    $(".timer").eq(<%=i%>).css('color', 'red');
                }
                $(".timer").text(hour + ':' + min + ":" + sec);
            }, 1000);

            $("form[name=bid] button[type=submit]").on('click', function(e) {
                e.preventDefault();
                swal({
                    title: $(this).siblings().val() + '원',
                    text: "정말 입찰하시겠습니까?",
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#aaa',
                    confirmButtonText: '네',
                    cancelButtonText: '아니요'
                }).then(function () {
                    $.ajax({
                        url: '/auction/bid',
                        type: 'post',
                        data: {aid:<%= auction.aid %>, uid:<%= session.uid %>, price:$(this).siblings().val()},
                        success: function (response) {
                            location.reload();
                        }
                    });
                });
            });
        });
    </script>
</body>
</html>
