<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <% include ../config/header.ejs %>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <div id="page-container" class="header-navbar-fixed">
        <!-- Main Container -->
        <main id="main-container">
            <% include ../config/nav.ejs %>

            <div class="content content-boxed">
                <!-- Section -->
                <div class="bg-image img-rounded overflow-hidden push" style="background-image: url('img/photo29@2x.jpg');">
                    <div class="bg-black-op">
                        <div class="content">
                            <div class="block block-transparent block-themed text-center">
                                <div class="block-content">
                                    <h1 class="h1 font-w700 text-white animated fadeInDown push-5">경매 참여</h1>
                                    <h2 class="h4 font-w400 text-white-op animated fadeInUp">티켓온의 경매들을 조회, 참여할 수 있습니다.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Section -->
                <!-- Side Content and Product -->
                <div class="a-bg-gray">
                    <section class="content content-boxed">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- Product -->
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="row js-gallery">
                                                    <div class="col-xs-12 push-10">
                                                        <img class="img-responsive-50" src="uploads/<%= auction.a_img %>" alt="">
                                                    </div>
                                                    <div class="col-xs-12 clearfix">
                                                        <p></p>
                                                        <span class="font-w600 text-success"><%= auction.a_category %></span>
                                                        <span class="pull-right font-w700 text-warning">시작가 <%= auction.a_min_price %>원</span>
                                                        <h2><%= auction.a_title %></h2>
                                                        <hr>
                                                        <div><%= auction.a_content %></div>
                                                        <p></p>
                                                        <!-- Author -->
                                                        <div class="block block-rounded ">
                                                            <div class="block-content block-content-full bg-gray-lighter clearfix">
                                                                <div class="pull-right">
                                                                    <img class="img-avatar" src="img/avatars/avatar2.jpg" alt="">
                                                                </div>
                                                                <div class="pull-left push-5-t">
                                                                    <div class="push-10">
                                                                        판매자 <a class="font-w600" href="javascript:void(0)"><%= auction.u_name %></a>
                                                                    </div>
                                                                    <p>등록시간 <small><%
                                                                            var aTime = auction.a_start;
                                                                            var date = aTime.getFullYear() + "년 "
                                                                                    + (aTime.getMonth() + 1) + "월 "
                                                                                    + aTime.getDate() + "일 "
                                                                                    + aTime.getHours() + "시 "
                                                                                    + aTime.getMinutes() + "분 "
                                                                                    + aTime.getSeconds() +"초";
                                                                            %><%= date %></small></p>
                                                                    <div>
                                                                        <% if(session.uid == auction.uid && bid.length == 0) { %>
                                                                          <a class="btn btn-sm btn-primary" href="/auction/put/<%= auction.aid %>"><i class="fa fa-pencil push-5-r"></i> 수정</a>
                                                                          <a id="deleteAuction" class="btn btn-sm btn-danger"><i class="fa fa-times push-5-r"></i> 삭제</a>
                                                                        <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- END Author -->
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="block block-rounded block-link-hover3 text-center" href="javascript:void(0)">
                                            <div class="block-content block-content-full">
                                                <div class="h1 font-w700">
                                                    <h1 class="timer h2 push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">00:00:00</h1>
                                                    <h2 class="h5 text-muted visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">마감까지 남은 시간 입니다</h2>
                                                </div>
                                            </div>
                                            <div class="block-content block-content-full block-content-mini bg-danger text-white">
                                                <i class="fa fa-money"></i> &nbsp;현재가 <%= (bid[0]) ? bid[0].b_price : auction.a_min_price %>원
                                            </div>
                                        </a>
                                        <div class="block">
                                            <div class="block-content">
                                                <span class="a-text font-w600">입찰하기</span>
                                                <div class="number-selector">
                                                  <% if(session.uid != auction.uid && !session.admin && auction.a_status == '0') { %>
                                                    <form name="bid">
                                                        <p></p>
                                                        <div class="col-xs-9 ctrl-wrap">
                                                                <div class='ctrl'>
                                                                    <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                                                    <div class='ctrl__counter'>
                                                                        <input class='ctrl__counter-input' id="auction-min-price" name="minPrice" maxlength="7" type="text" min="<%= (bid[0]) ? bid[0].b_price + 10 : auction.a_min_price %>"
                                                                               value="<%= (bid[0]) ? bid[0].b_price + 100 : auction.a_min_price %>">
                                                                        <div class='ctrl__counter-num'><%= (bid[0]) ? bid[0].b_price + 100 : auction.a_min_price %></div>
                                                                    </div>
                                                                    <div class='ctrl__button ctrl__button--increment'>+</div>
                                                                </div>

                                                        </div>
                                                        <button type="submit" class="col-xs-3 a-btn-primary btn">입찰하기</button>
                                                    </form>
                                                  <% } %>
                                                </div>
                                            </div>
                                            <div class="block">
                                                <div class="block-content">
                                                    <table class="table table-striped table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="3">입찰 내역 (최근 입찰 순)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(var i = 0; i < bid.length; i++) { %>
                                                            <tr>
                                                                <td class="text-center" style="width:20%;"><%= bid[i].u_name %></td>
                                                                <td class="text-center" style="width:35%;"><i class="fa fa-check text-success"> <%= bid[i].b_price %>원</i></td>
                                                                <td class="text-center" >
                                                                    <%  var bTime = bid[i].b_time;
                                                                        var date = bTime.getFullYear() + "년 " + (bTime.getMonth() + 1) + "월 "
                                                                                + bTime.getDate() + "일 " + bTime.getHours() + "시  "
                                                                                + bTime.getMinutes() + "분 " + bTime.getSeconds() +"초";%>
                                                                                <%= date %>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- END Side Content and Product -->
            </div>
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <% include ../config/footer.ejs %>
    <!-- Page JS Plugins -->
    <script src="vendor/magnific-popup/magnific-popup.min.js"></script>
    <!-- Page JS Code -->
    <script><% include ../../public/js/detail.js %></script>

    <script src="js/numberSelector.js"></script>
</body>
</html>
