<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <% include ../config/header.ejs %>
    <style>
        .img-responsive {
            height:35vh;
        }
        /* 126줄에  p 태그에 style="height:3vh;overflow:hidden"  */
    </style>
</head>
<body>
    <div id="page-container" class="header-navbar-fixed">
        <% include ../config/nav_auctions.ejs %>
        <!-- Main Container -->
        <main id="main-container">
            <!-- Side Content and Products -->
            <div class="a-bg-gray">
                <section class="content content-boxed">
                    <div class="row">
                        <div class="col-lg-3">
                            <!-- Buttons which toggles side nav content content in smaller screens -->
                            <!-- Toggle class helper (for .js-nav-content below), functionality initialized in App() -> uiToggleClass() -->
                            <!-- Side Content -->
                            <div class="js-nav-content visible-lg">
                                <!-- Categories -->
                                <div class="block">
                                    <div class="block-content">
                                        <ul class="category nav nav-pills nav-stacked push">
                                            <li>
                                                <a href="javascript:void(0)"><span class="bg-gray-dark badge pull-right animated bounceIn"><%= (count[7]) %></span><i class="fa fa-list-ul push-5-r"></i> 전체</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge-primary badge pull-right animated bounceIn"><%= (count[0]) %></span><i class="glyphicon glyphicon-music push-5-r"></i> 뮤지컬/연극</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge-warning badge pull-right animated bounceIn"><%= (count[1]) %></span><i class="glyphicon glyphicon-film push-5-r"></i> 영화</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge-success badge pull-right" animated bounceIn><%= (count[2]) %></span><i class="fa fa-institution push-5-r"></i> 전시/체험</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge-danger badge pull-right" animated bounceIn><%= (count[3]) %></span><i class="glyphicon glyphicon-sunglasses push-5-r"></i> 콘서트/마술</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="bg-amethyst badge pull-right" animated bounceIn><%= (count[4]) %></span><i class="fa fa-cutlery push-5-r"></i> 외식/편의점</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="bg-city-light badge pull-right" animated bounceIn><%= (count[5]) %></span><i class="fa fa-fort-awesome push-5-r"></i> 놀이동산/컨텐츠</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge-info badge pull-right" animated bounceIn><%= (count[6]) %></span><i class="fa fa-diamond push-5-r"></i> 뷰티/생활</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- END Categories -->
                                <!-- Best Authors -->
                                 <div class="block">
                                    <a class="block block-link-hover3 block-transparent remove-margin-b" href="javascript:void(0)">
                                        <div class="block-content block-content-full clearfix">
                                            <div class="pull-right">
                                                <img class="img-avatar" src="uploads/<%= session.img %>" alt="">
                                            </div>
                                            <div class="pull-left push-10-t">
                                                <div class="font-w600 push-5"><%= session.name %></div>
                                                <div class="text-muted"><%= session.email %></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- END Best Authors -->
                            </div>
                            <!-- END Side Content -->
                        </div>
                        <div class="col-lg-9">
                            <!-- Products -->
                            <div class="row">
                                <% for(var i = 0; i < auction.length; i++) { %>
                                <div class="auction col-sm-6 col-lg-4">
                                    <div class="block">
                                        <div class="img-container">
                                            <img class="img-responsive" src="uploads/<%= auction[i].a_img %>" alt="">
                                            <div class="img-options">
                                                <div class="img-options-content">
                                                    <div class="push-20">
                                                        <a class="btn btn-sm btn-default" href="/auction/<%= auction[i].aid %>">자세히</a>
                                                        <a class="btn btn-sm btn-default" href="javascript:void(0)">
                                                            <i class="fa fa-plus"></i> 관심등록
                                                        </a>
                                                    </div>
                                                    <div class="text-warning">
                                                        <i class="fa fa-star"></i>
                                                        <span class="text-white">시작가</span>
                                                        <span class="text-white"><%= auction[i].a_min_price %>원</span>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-content">
                                            <div class="push-10">
                                                <div class="h4 font-w600 text-danger pull-right push-10-l">
                                                  <%
                                                    var price = auction[i].a_min_price;
                                                    for(var j = 0; j < bid.length; j++) {
                                                        if(bid[j].aid == auction[i].aid) {
                                                            price = bid[j].b_price;
                                                            break;
                                                        }
                                                    }
                                                  %>
                                                  <%= price %>원
                                                </div>
                                                <p>[<%= auction[i].a_category %>]</p>
                                                <a class="h3" href="/auction/<%= auction[i].aid %>"><%= auction[i].a_title %></a>
                                            </div>
                                            <span class="overflow_contents text-muted"><%= auction[i].a_content %></span>
                                            <hr>
                                            <div class="text-center">
                                                <h4 class="inline">마감시간 </h4>
                                                <h3 class="timer inline"> 00:00:00</h3>
                                            </div>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <!-- END Products -->
                        </div>
                    </div>
                </section>
            </div>
            <!-- END Side Content and Products -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <% include ../config/footer.ejs %>
    <!-- Page JS Code -->
    <script><% include ../../public/js/products.js %></script>
</body>
</html>
