<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <% include ../config/header0.ejs %>
</head>
<body>
    <div id="page-container" class="header-navbar-fixed">
        <% include ../config/nav0.ejs %>

        <!-- Main Container -->
        <main id="main-container">
            <!-- Side Content and Products -->
            <div class="a-bg-gray">
                <section class="content content-boxed">
                    <div class="row">
                        <div class="col-lg-3">
                            <!-- Buttons which toggles side nav content content in smaller screens -->
                            <!-- Toggle class helper (for .js-nav-content below), functionality initialized in App() -> uiToggleClass() -->
                            <div class="block hidden-lg">
                                <div class="block-content">
                                    <button class="btn btn-sm btn-block btn-default push" type="button" data-toggle="class-toggle" data-target=".js-nav-content" data-class="visible-lg">
                                        <i class="fa fa-list-ul push-5-r"></i> Navigation
                                    </button>
                                </div>
                            </div>

                            <!-- Side Content -->
                            <div class="js-nav-content visible-lg">
                                <!-- Categories -->
                                <div class="block">
                                    <div class="block-content">
                                        <ul class="nav nav-pills nav-stacked push">
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge pull-right">7k</span> 뮤지컬/연극</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge pull-right">2k</span> 영화</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge pull-right">3k</span> 전시/체험</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge pull-right">18k</span> 콘서트/마술</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge pull-right">2k</span> 외식/편의점</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge pull-right">12k</span> 놀이동산/컨텐츠</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><span class="badge pull-right">6k</span> 뷰티/생활</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- END Categories -->
                                <!-- Best Authors -->
                                <div class="block">
                                    <a class="block block-link-hover3 block-transparent remove-margin-b" href="javascript:void(0)">
                                        <div class="block-content block-content-full clearfix">
                                            <div class="pull-right">
                                                <img class="img-avatar" src="assets/img/avatars/avatar2.jpg" alt="">
                                            </div>
                                            <div class="pull-left push-10-t">
                                                <div class="font-w600 push-5">Susan Elliott</div>
                                                <div class="text-muted">50k Sales</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="block block-link-hover3 block-transparent remove-margin-b" href="javascript:void(0)">
                                        <div class="block-content block-content-full clearfix">
                                            <div class="pull-right">
                                                <img class="img-avatar" src="assets/img/avatars/avatar14.jpg" alt="">
                                            </div>
                                            <div class="pull-left push-10-t">
                                                <div class="font-w600 push-5">Jeremy Fuller</div>
                                                <div class="text-muted">48k Sales</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- END Best Authors -->
                            </div>
                            <!-- END Side Content -->
                        </div>
                        <div class="col-lg-9">
                            <!-- Sort and Show Filters -->
                            <div class="form-inline clearfix">
                                <select id="ecom-results-show" name="ecom-results-show" class="form-control push pull-right" size="1">
                                    <option value="0" disabled selected>SHOW</option>
                                    <option value="9">9</option>
                                    <option value="18">18</option>
                                    <option value="36">36</option>
                                    <option value="72">72</option>
                                </select>
                                <select id="ecom-results-sort" name="ecom-results-sort" class="form-control push" size="1">
                                    <option value="1">남은시간 순(오름차순)</option>
                                    <option value="2">남은시간 순(내림차순)</option>
                                    <option value="3">입찰가 순 (오름차순)</option>
                                    <option value="4">입찰가 순 (내림차순)</option>
                                </select>
                            </div>
                            <!-- END Sort and Show Filters -->
                            <!-- Products -->
                            <div class="row">
                                <% for(var i = 0; i < auction.length; i++) { %>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="block">
                                        <div class="img-container">
                                            <img class="img-responsive" style="height:35vh" src="uploads/<%= auction[i].a_img %>" alt="">
                                            <div class="img-options">
                                                <div class="img-options-content">
                                                    <div class="push-20">
                                                        <a class="btn btn-sm btn-default" href="/auction/<%= auction[i].aid %>">자세히</a>
                                                        <a class="btn btn-sm btn-default" href="javascript:void(0)">
                                                            <i class="fa fa-plus"></i> 관심등록
                                                        </a>
                                                    </div>
                                                    <div class="text-warning">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <span class="text-white">(998)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-content">
                                            <div class="push-10">
                                                <div class="h4 font-w600 text-success pull-right push-10-l">
                                                  <%
                                                    var price = auction[i].a_min_price;
                                                    for(var j = 0; j < bid.length; j++) {
                                                        if(bid[j].aid == auction[i].aid) {
                                                            price = bid[j].b_price;
                                                            break;
                                                        }
                                                    }
                                                  %>
                                                  <%= price %>원
                                                </div>
                                                <p>[<%= auction[i].a_category %>]</p>
                                                <a class="h4" style="height:2vh;overflow:hidden" href="/auction/<%= auction[i].aid %>"><%= auction[i].a_title %></a>
                                            </div>
                                            <p class="text-muted" style="height:3vh;overflow:hidden"><%= auction[i].a_content %></p>
                                            <span>마감시간</span><h3 class="timer">00:00:00</h3>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <div class="col-xs-12 push">
                                    <ul class="pager">
                                        <li class="next">
                                            <a href="javascript:void(0)">Next <i class="fa fa-arrow-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END Products -->
                        </div>
                    </div>
                </section>
            </div>
            <!-- END Side Content and Products -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <% include ../config/footer0.ejs %>
    <!-- Page JS Code -->
    <% include ../../public/js/products.js %>
</body>
</html>
